body, html {
    height: 100%;
}

body {
    padding: 10px;
    font-family: monospace;
    font-size: x-large;
    color: #f6f6f6;
    background-color: #030045;
    display: flex;
    flex-direction: column;
}

.todo {
    color: #ffc200;
}

.view {
    border-radius: 2px;
    overflow: hidden;
    color: #0043CE;
    width: inherit;
    height: inherit;
}

.align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

#box {    
    width: 200px;
    height: 200px;
    font-size: 128pt;
    text-align: center;
    transform-style: preserve-3d;
    transform: translateZ(-110px) rotateX(-290deg) rotateZ(-135deg);
    animation: spin 12s ease-in-out infinite alternate;
    &:hover {
        animation-play-state: paused;
    }
            
}

#box div {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    border: 1px solid #030045;
    box-sizing: border-box;
    transform-origin: top;
}

#box .front {
    transform: translateZ(100px) rotateY(0deg);
}

#box .back {
    transform: translateZ(-100px) rotateY(180deg);
}

#box .left {
    transform: rotateX(-90deg) rotateY(-90deg) translateY(-100px) translateX(100px) translateZ(100px);
    background: #ddd;
}

#box .right {
    transform: rotateY(90deg) rotateX(0deg) rotateZ(-90deg) translateX(-100px) translateY(-100px) translateZ(100px);
}

#box .top {
    transform: rotateX(90deg) rotateZ(180deg) translateY(-100px);
    background: #bbb;
}

#box .bottom {
    transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(200px) translateY(-100px);
    background: #bbb;
}

@keyframes spin {
    0% {
        transform: translateZ(-110px) rotateX(-290deg) rotateZ(-135deg) rotateY(0deg);
    }   
    25% {
        transform: translateZ(-110px) rotateX(-290deg) rotateZ(-135deg) rotateY(360deg);
    }    
    50% {
        transform: translateZ(-110px) rotateX(70deg) rotateZ(-135deg) rotateY(360deg);
    }
    75% {
        transform: translateZ(-110px) rotateX(70deg) rotateZ(-135deg) rotateY(0deg);
    }
    100% {
        transform: translateZ(-110px) rotateX(-290deg) rotateZ(-135deg) rotateY(0deg);
    }
}

